<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

  <!-- ======================== FILTER CHAIN ======================= -->
  <bean id="filterChainProxy" class="org.springframework.security.web.FilterChainProxy">
    <constructor-arg>
      <list>
        <security:filter-chain pattern="/xmlrpc/**" filters="anonymousProcessingFilter"/>
        <security:filter-chain pattern="/**/*.xml" filters="
        securityContextPersistenceFilter,
        basicProcessingFilter,
        rememberMeProcessingFilter,
        basicExceptionTranslationFilter,
        privateBlogInvocationInterceptor,
        filterInvocationInterceptor
        "/>
      <security:filter-chain pattern="/**" filters="
        securityContextPersistenceFilter,
        formProcessingFilter,
        rememberMeProcessingFilter,
        exceptionTranslationFilter,
        privateBlogInvocationInterceptor,
        filterInvocationInterceptor
        "/>
      </list>
    </constructor-arg>
  </bean>

  <!-- ======================== AUTHENTICATION ======================= -->

  <!-- Spring Security 5.x ProviderManager requires constructor args -->
  <bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
    <constructor-arg>
      <list>
        <ref bean="daoAuthenticationProvider"/>
        <ref bean="rememberMeAuthenticationProvider"/>
      </list>
    </constructor-arg>
  </bean>

  <!-- Custom authentication provider with automatic password upgrade support -->
  <bean id="daoAuthenticationProvider"
        class="net.sourceforge.pebble.security.PebbleAuthenticationProvider">
    <property name="userDetailsService" ref="pebbleUserDetailsService"/>
    <property name="passwordEncoder" ref="passwordEncoder"/>
  </bean>

  <!-- this is a default implementation of Acegi's UserDetailsService that plugs into the
       daoAuthenticationProvider - you don't need this if you are using an alternative
       UserDetailsService or another AuthenticationProvider -->
  <bean id="pebbleUserDetailsService" class="net.sourceforge.pebble.security.DefaultUserDetailsService">
    <property name="securityRealm" ref="pebbleSecurityRealm"/>
  </bean>

  <!-- an implementation of net.sourceforge.pebble.security.SecurityRealm is required
       to provide detailed user information and manage users
       it is plugged into other components outside the context of this file -->
  <bean id="pebbleSecurityRealm" class="net.sourceforge.pebble.security.DefaultSecurityRealm">
    <property name="configuration" ref="pebbleConfiguration"/>
    <property name="passwordEncoder" ref="passwordEncoder"/>
  </bean>

  <!-- Spring Security 5.x uses crypto.password package instead of authentication.encoding -->
  <!-- BCrypt password encoder (OWASP recommended, includes salting and adaptive work factor) -->
  <bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    <constructor-arg value="10"/> <!-- Cost factor: 10 = 1024 rounds (good balance of security vs performance) -->
  </bean>

  <!-- Legacy SHA-1 encoder for password upgrade strategy (validates old passwords during migration) -->
  <bean id="sha1Encoder" class="org.springframework.security.crypto.password.MessageDigestPasswordEncoder">
    <constructor-arg value="SHA-1"/>
  </bean>

  <!-- Custom password encoder for automatic SHA-1 to BCrypt upgrade -->
  <bean id="passwordEncoder" class="net.sourceforge.pebble.security.PebblePasswordEncoder">
    <property name="modernEncoder" ref="bcryptEncoder"/>
    <property name="legacyEncoder" ref="sha1Encoder"/>
    <property name="securityRealm" ref="pebbleSecurityRealm"/>
  </bean>

  <!-- Automatically receives AuthenticationEvent messages -->
  <bean id="loggerListener" class="org.springframework.security.authentication.event.LoggerListener"/>

  <bean id="securityContextPersistenceFilter"
        class="org.springframework.security.web.context.SecurityContextPersistenceFilter"/>

  <!-- Spring Security 5.x RememberMeAuthenticationFilter requires constructor args -->
  <bean id="rememberMeProcessingFilter"
        class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
    <constructor-arg ref="authenticationManager"/>
    <constructor-arg ref="rememberMeServices"/>
  </bean>

  <!-- Spring Security 5.x TokenBasedRememberMeServices requires constructor args -->
  <bean id="rememberMeServices"
        class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
    <constructor-arg value="pebble"/>
    <constructor-arg ref="pebbleUserDetailsService"/>
  </bean>

  <!-- Spring Security 5.x RememberMeAuthenticationProvider requires constructor args -->
  <bean id="rememberMeAuthenticationProvider"
        class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
    <constructor-arg value="pebble"/>
  </bean>

  <!-- Spring Security 5.x expression-based access control requires WebExpressionVoter -->
  <bean id="webExpressionVoter" class="org.springframework.security.web.access.expression.WebExpressionVoter"/>

  <!-- ===================== HTTP REQUEST SECURITY ==================== -->

  <!-- Spring Security 5.x AnonymousAuthenticationFilter requires constructor args -->
  <bean id="anonymousProcessingFilter"
        class="org.springframework.security.web.authentication.AnonymousAuthenticationFilter">
    <constructor-arg value="anonymous"/>
  </bean>

  <bean id="formProcessingFilter"
        class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
    <property name="authenticationManager" ref="authenticationManager"/>
    <property name="authenticationFailureHandler" ref="authenticationFailureHandler"/>
    <property name="filterProcessesUrl" value="/j_spring_security_check"/>
    <property name="rememberMeServices" ref="rememberMeServices"/>
    <property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
  </bean>

  <bean id="authenticationSuccessHandler"
        class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
    <property name="targetUrlParameter" value="redirectUrl"/>
    <property name="redirectStrategy" ref="redirectStrategy"/>
  </bean>

  <bean id="redirectStrategy" class="net.sourceforge.pebble.security.PebbleRedirectStrategy"/>

  <bean id="authenticationFailureHandler"
        class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
    <property name="defaultFailureUrl" value="/loginPage.action?error=login.incorrect"/>
    <property name="redirectStrategy" ref="redirectStrategy"/>
  </bean>

  <!-- Spring Security 5.x LoginUrlAuthenticationEntryPoint requires constructor arg -->
  <!-- HTTPS enforcement disabled for development. Set to true in production with HTTPS configured -->
  <bean id="authenticationEntryPoint"
        class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
    <constructor-arg value="/loginPage.action"/>
    <property name="forceHttps" value="false"/>
  </bean>

  <!-- Spring Security 5.x ExceptionTranslationFilter requires constructor args -->
  <bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
    <constructor-arg ref="authenticationEntryPoint"/>
  </bean>

  <!-- Spring Security 5.x AffirmativeBased requires constructor args for voters -->
  <bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
    <constructor-arg>
      <list>
        <ref bean="webExpressionVoter"/>
      </list>
    </constructor-arg>
    <property name="allowIfAllAbstainDecisions" value="false"/>
  </bean>

  <!-- Spring Security 5.x BasicAuthenticationFilter requires constructor args -->
  <bean id="basicProcessingFilter"
        class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
    <constructor-arg ref="authenticationManager"/>
    <constructor-arg ref="basicAuthenticationEntryPoint"/>
  </bean>

  <bean id="basicAuthenticationEntryPoint"
        class="org.springframework.security.web.authentication.www.BasicAuthenticationEntryPoint">
    <property name="realmName" value="Secured newsfeeds"/>
  </bean>

  <!-- Spring Security 5.x ExceptionTranslationFilter requires constructor args -->
  <bean id="basicExceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
    <constructor-arg ref="basicAuthenticationEntryPoint"/>
  </bean>

  <!-- Note the order that entries are placed against the objectDefinitionSource is critical.
  The FilterSecurityInterceptor will work from the top of the list down to the FIRST pattern that matches the request URL.
  Accordingly, you should place MOST SPECIFIC (ie a/b/c/d.*) expressions first, with LEAST SPECIFIC (ie a/.*) expressions last -->
  <bean id="filterInvocationInterceptor"
        class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
    <property name="authenticationManager" ref="authenticationManager"/>
    <property name="accessDecisionManager" ref="accessDecisionManager"/>
    <property name="securityMetadataSource">
      <!-- Spring Security 5.x requires SpEL expressions for access attributes -->
      <security:filter-security-metadata-source use-expressions="true">
        <security:intercept-url pattern="/**/*.secureaction"
          access="hasAnyRole('BLOG_OWNER','BLOG_PUBLISHER','BLOG_CONTRIBUTOR','BLOG_ADMIN','BLOG_READER')"/>
        <security:intercept-url pattern="/**/files/" access="hasRole('BLOG_CONTRIBUTOR')"/>
        <security:intercept-url pattern="/**/images/" access="hasRole('BLOG_CONTRIBUTOR')"/>
        <security:intercept-url pattern="/**/theme/**" access="hasRole('BLOG_OWNER')"/>
        <security:intercept-url pattern="/**/help/**"
          access="hasAnyRole('BLOG_OWNER','BLOG_PUBLISHER','BLOG_CONTRIBUTOR')"/>
      </security:filter-security-metadata-source>
    </property>
  </bean>

  <!-- ===================== PRIVATE BLOG SECURITY ==================== -->

  <bean id="privateBlogRoleVoter" class="net.sourceforge.pebble.security.PrivateBlogVoter"/>

  <!-- Spring Security 5.x AffirmativeBased requires constructor args for voters -->
  <bean id="privateBlogAccessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
    <constructor-arg>
      <list>
        <ref bean="privateBlogRoleVoter"/>
      </list>
    </constructor-arg>
    <property name="allowIfAllAbstainDecisions" value="false"/>
  </bean>

  <bean id="privateBlogInvocationInterceptor" class="net.sourceforge.pebble.security.PrivateBlogSecurityInterceptor">
    <property name="authenticationManager" ref="authenticationManager"/>
    <property name="accessDecisionManager" ref="privateBlogAccessDecisionManager"/>
  </bean>

</beans>